<!DOCTYPE html>
<html ng-app='quakes'>
  	<head>
    	<title>Quake Locator</title>
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" media="screen">    
        <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">

	</head>
  	<body>
    	<h1>Quakes</h1>
    	<div ng-controller="QuakeCtrl" data-ng-init="get_location()" ng-model="data">
            <div class="col-lg-4 col-sm-4">
                <i class="fa fa-spinner fa-spin fa-5x loading-spinner"></i>
                <div class="btn-group-vertical">
                    <button type="button" class="btn btn-{{quake.Class}}" ng-repeat="quake in data" ng-click="set_location(quake.Latitude, quake.Longitude)"> 
                        {{quake.Magnitude}} @ {{quake.Distance}} km
                    </button>
                </div>
            </div>
            <div class="col-lg-8 col-sm-8">
                Map Goes Here
                <div class="google-map" 
                    center="center"
                    zoom="zoom" 
                    markers="markers"
                    mark-click="true"
                    draggable="true"
                    style="height: 1000px; width: 100%">
                </div>
            </div>
        </div>




    <script src="bower_components/jquery/jquery.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false&language=en"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-google-maps/src/angular-google-maps.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="app.js"></script>
  </body>
</html>